name: Deploy complex
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t tosumaso/react-test -f ../../client/Dockerfile.dev ./client
      - run: docker run -e CI=true cygnetops/react-test npm test
      - run: docker build -t tosumaso/multi-client ../../client
      - run: docker build -t tosumaso/multi-nginx ../../nginx
      - run: docker build -t tosumaso/multi-server ../../server
      - run: docker build -t tosumaso/multi-worker ../../worker
      - run: docker push tosumaso/multi-client
      - run: docker push tosumaso/multi-nginx
      - run: docker push tosumaso/multi-server
      - run: docker push tosumaso/multi-worker